@import url("https://fonts.googleapis.com/css2?family=Yantramanav:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Yantramanav', sans-serif;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 700;
}

html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  position: relative;
  max-width: 1440px;
  width: 100%;
  height: auto;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #000000;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

#root {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin-bottom: 5rem;
}

.App {
  width: 100%;
  heigth: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .darkmode {
  border: none;
  position: absolute;
  right: 105px;
  top: 93px;
  width: 62px;
  height: 31px;
  padding: 5px;
  border-radius: 30px;
  background-color: #7a727281;
  border: 2px solid rgba(255, 255, 255, 0.774);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 0px 30px -1px #B79132;
          box-shadow: 0px 0px 30px -1px #B79132;
}

.App .darkmode .darkmode__button {
  position: absolute;
  left: 5px;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
  width: 21px;
  height: 21px;
  background-color: #414141;
  border: 2px solid rgba(255, 255, 255, 0.774);
  border-radius: 100%;
}

.App .darkmode img {
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
  position: absolute;
  right: 6px;
  height: 18px;
  -webkit-transform: rotateZ(-20deg);
          transform: rotateZ(-20deg);
}

.App .darkmode:focus {
  outline: 2px solid #B79132;
}

.App .darkmode:hover {
  background-color: #272323c9;
}

.App .darkmode:hover .darkmode__button {
  background-color: #2d9e4f;
}

.App .LogIn {
  margin-top: 206px;
  width: 544px;
  height: 488px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(144.83deg, rgba(196, 196, 196, 0.4) 21.74%, rgba(196, 196, 196, 0.1) 68.85%);
  -webkit-box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  -webkit-box-shadow: 0 1px 0 0 rgba(126, 63, 101, 0.25), 0 -1px 0 0 rgba(164, 118, 67, 0.25), 1px 0 0 0 rgba(126, 63, 101, 0.25), -1px 0 0 0 rgba(164, 118, 67, 0.25), 1px -1px 0 0 rgba(145, 90, 84, 0.5), -1px 1px 0 0 rgba(145, 90, 84, 0.5), 1px 1px 0 0 rgba(107, 35, 118, 0.75), -1px -1px 0 0 rgba(183, 145, 50, 0.75);
          box-shadow: 0 1px 0 0 rgba(126, 63, 101, 0.25), 0 -1px 0 0 rgba(164, 118, 67, 0.25), 1px 0 0 0 rgba(126, 63, 101, 0.25), -1px 0 0 0 rgba(164, 118, 67, 0.25), 1px -1px 0 0 rgba(145, 90, 84, 0.5), -1px 1px 0 0 rgba(145, 90, 84, 0.5), 1px 1px 0 0 rgba(107, 35, 118, 0.75), -1px -1px 0 0 rgba(183, 145, 50, 0.75);
  border-radius: 30px;
  -webkit-transition: -webkit-backdrop-filter .3s ease-in-out;
  transition: -webkit-backdrop-filter .3s ease-in-out;
  transition: backdrop-filter .3s ease-in-out;
  transition: backdrop-filter .3s ease-in-out, -webkit-backdrop-filter .3s ease-in-out;
}

.App .LogIn h1, .App .LogIn p {
  margin-top: 20px;
  font-size: 1.3rem;
  opacity: 0.6;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 1px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.App .LogIn p {
  margin-top: 0px;
  text-align: center;
  font-size: 1rem;
}

.App .LogIn label input {
  border: none;
  margin-top: 6px;
  width: 300px;
  height: 23px;
  background-color: rgba(196, 196, 196, 0.281);
  border-radius: 30px;
  padding: 2px 1rem 0 1rem;
  color: rgba(0, 0, 0, 0.301);
  opacity: 0.6;
}

.App .LogIn label input:focus {
  outline: 2px solid #B79132;
}

.App .LogIn label input:hover {
  background-color: #7e7a7a;
}

.App .LogIn .Email_label {
  position: relative;
  margin-top: 50px;
}

.App .LogIn .Email_label .error {
  opacity: 0;
  position: absolute;
  bottom: -1rem;
  width: 100%;
  text-align: center;
  font-size: .6rem;
  color: red;
}

.App .LogIn .password_label {
  margin-top: 21px;
}

.App .LogIn button {
  margin-top: 107px;
  width: 180px;
  opacity: .6;
  padding: 2px 0;
  border-radius: 30px;
  border: none;
  background-color: rgba(196, 196, 196, 0.281);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.App .LogIn button:hover {
  background-color: #7e7a7a;
}

.App .LogIn button:hover p {
  color: rgba(14, 13, 13, 0.651);
}

.App .LogIn button:focus {
  outline: 2px solid #B79132;
}

.App .user {
  position: relative;
  margin-top: 206px;
  width: 544px;
  height: 100%;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(144.83deg, rgba(196, 196, 196, 0.4) 21.74%, rgba(196, 196, 196, 0.1) 68.85%);
  -webkit-box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  -webkit-box-shadow: 0 1px 0 0 rgba(126, 63, 101, 0.25), 0 -1px 0 0 rgba(164, 118, 67, 0.25), 1px 0 0 0 rgba(126, 63, 101, 0.25), -1px 0 0 0 rgba(164, 118, 67, 0.25), 1px -1px 0 0 rgba(145, 90, 84, 0.5), -1px 1px 0 0 rgba(145, 90, 84, 0.5), 1px 1px 0 0 rgba(107, 35, 118, 0.75), -1px -1px 0 0 rgba(183, 145, 50, 0.75);
          box-shadow: 0 1px 0 0 rgba(126, 63, 101, 0.25), 0 -1px 0 0 rgba(164, 118, 67, 0.25), 1px 0 0 0 rgba(126, 63, 101, 0.25), -1px 0 0 0 rgba(164, 118, 67, 0.25), 1px -1px 0 0 rgba(145, 90, 84, 0.5), -1px 1px 0 0 rgba(145, 90, 84, 0.5), 1px 1px 0 0 rgba(107, 35, 118, 0.75), -1px -1px 0 0 rgba(183, 145, 50, 0.75);
  border-radius: 30px;
  -webkit-transition: -webkit-backdrop-filter .3s ease-in-out;
  transition: -webkit-backdrop-filter .3s ease-in-out;
  transition: backdrop-filter .3s ease-in-out;
  transition: backdrop-filter .3s ease-in-out, -webkit-backdrop-filter .3s ease-in-out;
}

.App .user .img {
  position: absolute;
  top: -50px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: black;
  border: 2px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .user .img img {
  width: 50%;
}

.App .user p {
  margin-top: 100px;
}

.App .user p:nth-child(3) {
  margin-top: 20px;
}

.App .user button {
  margin-top: 50px;
  width: 100px;
  opacity: .6;
  padding: 2px 0;
  border-radius: 30px;
  border: none;
  background-color: rgba(196, 196, 196, 0.281);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.App .user button p {
  margin-top: 0;
}

.App .user button:hover {
  background-color: #7e7a7a;
}

.App .user button:hover p {
  color: rgba(14, 13, 13, 0.651);
}

.App .user button:focus {
  outline: 2px solid #B79132;
}

.App .circles {
  position: absolute;
  top: 127px;
  margin-left: 45px;
  width: 670px;
  height: 635.5px;
}

.App .circles .circle {
  border-radius: 100%;
}

.App .circles .circle-1, .App .circles .circle-3, .App .circles .circle-5, .App .circles .circle-7 {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#babc69), color-stop(#b8aa4f), color-stop(#b69736), color-stop(#b5831f), to(#b46e06));
  background-image: linear-gradient(to right top, #babc69, #b8aa4f, #b69736, #b5831f, #b46e06);
}

.App .circles .circle-1, .App .circles .circle-5 {
  width: 57px;
  height: 57px;
}

.App .circles .circle-1 {
  position: relative;
  top: 63px;
  left: 141px;
}

.App .circles .circle-3 {
  width: 132px;
  height: 127px;
  position: absolute;
  top: 0px;
  left: 450px;
}

.App .circles .circle-5 {
  position: absolute;
  top: 373px;
  left: 74px;
}

.App .circles .circle-7 {
  width: 83px;
  height: 83px;
  position: absolute;
  top: 502px;
  left: 444px;
}

.App .circles .circle-2, .App .circles .circle-4, .App .circles .circle-6, .App .circles .circle-8 {
  background-image: -webkit-gradient(linear, right bottom, left top, from(#ae50bd), color-stop(#9e41ad), color-stop(#8e319e), color-stop(#7e218f), to(#6f0c80));
  background-image: linear-gradient(to left top, #ae50bd, #9e41ad, #8e319e, #7e218f, #6f0c80);
}

.App .circles .circle-2, .App .circles .circle-6 {
  width: 111px;
  height: 111px;
}

.App .circles .circle-2 {
  position: absolute;
  top: 65px;
  left: 170px;
}

.App .circles .circle-4 {
  width: 92px;
  height: 92px;
  position: absolute;
  top: 50px;
  left: 527px;
}

.App .circles .circle-6 {
  position: absolute;
  top: 390px;
  left: 10px;
}

.App .circles .circle-8 {
  width: 231px;
  height: 231px;
  position: absolute;
  top: 315px;
  right: 0;
}

.light {
  background-color: #FFF;
}

.light .App .darkmode {
  background-color: #10d410;
  -webkit-box-shadow: 0px 0px 40px -10px #1f1602;
          box-shadow: 0px 0px 40px -10px #1f1602;
}

.light .App .darkmode .darkmode__button {
  margin-left: calc(100% - 30px);
  background-color: #FFF;
}

.light .App .darkmode img {
  margin-right: calc(100% - 30px);
}

.light .App .darkmode:focus {
  outline: 2px solid #B79132;
}

.light .App .darkmode:hover {
  background-color: green;
}

.light .App .darkmode:hover .darkmode__button {
  background-color: #2d9e4f;
}

.light .App .LogIn {
  -webkit-backdrop-filter: brightness(85%) blur(30px);
          backdrop-filter: brightness(85%) blur(30px);
}

.light .App .LogIn h1 {
  opacity: 1;
  color: white;
  text-shadow: 0px 0px 2px  black;
}

.light .App .LogIn p {
  opacity: 1;
  color: white;
  text-shadow: 0px 0px 3px  black;
}

.light .App .LogIn label input {
  background-color: rgba(255, 255, 255, 0.486);
  opacity: 1;
}

.light .App .LogIn label input:focus {
  outline: 2px solid #B79132;
}

.light .App .LogIn label input:hover {
  background-color: #b4b3b3;
}

.light .App .LogIn button {
  background-color: rgba(255, 255, 255, 0.486);
  opacity: 1;
}

.light .App .LogIn button:hover {
  background-color: #a7a0a0;
}

.light .App .LogIn button:hover p {
  color: white;
}

.light .App .user {
  -webkit-backdrop-filter: brightness(85%) blur(30px);
          backdrop-filter: brightness(85%) blur(30px);
}

.light .App .user .img {
  background-color: rgba(0, 0, 0, 0.644);
  border: 2px solid #524b4b;
}

.light .App .user p {
  text-shadow: 0px 0px 3px  black;
  opacity: 1;
  color: white;
}

.light .App .user button {
  background-color: rgba(255, 255, 255, 0.486);
  opacity: 1;
}

.light .App .user button p {
  margin-top: 0;
}

.light .App .user button:hover {
  background-color: #a7a0a0;
}

.light .App .user button:hover p {
  color: white;
}

@media only screen and (max-width: 900px) {
  .App .darkmode {
    right: 8vw;
    top: 5vw;
  }
  .App .circles {
    position: absolute;
    top: 120px;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .App {
    padding: 0 10vw;
  }
  .App .LogIn {
    margin-top: 150px;
    width: 100%;
  }
  .App .circles {
    position: absolute;
    top: 120px;
    width: 100%;
    height: 100%;
  }
  .App .circles .circle-1, .App .circles .circle-5 {
    width: 9.500vw;
    height: 9.500vw;
  }
  .App .circles .circle-1 {
    position: relative;
    top: 15px;
    left: 23.500vw;
  }
  .App .circles .circle-3 {
    width: 22vw;
    height: 21.167vw;
    position: absolute;
    top: 0px;
    left: 75vw;
  }
  .App .circles .circle-5 {
    position: absolute;
    top: 380px;
    left: 12.333vw;
  }
  .App .circles .circle-7 {
    width: 13.833vw;
    height: 13.833vw;
    position: absolute;
    top: 300px;
    left: 74vw;
  }
  .App .circles .circle-2, .App .circles .circle-6 {
    width: 18.500vw;
    height: 18.500vw;
  }
  .App .circles .circle-2 {
    position: absolute;
    top: 10px;
    left: 28.333vw;
  }
  .App .circles .circle-4 {
    width: 15.333vw;
    height: 15.333vw;
    position: absolute;
    top: 40px;
    left: 87.833vw;
  }
  .App .circles .circle-6 {
    position: absolute;
    top: 440px;
    left: 1.667vw;
  }
  .App .circles .circle-8 {
    width: 38.500vw;
    height: 38.500vw;
    position: absolute;
    top: 360px;
    right: 0;
  }
}

@media only screen and (max-width: 450px) {
  .App .LogIn {
    padding: 0 5vw;
    height: 100%;
    padding-bottom: 50px;
    margin-bottom: 50px;
  }
  .App .LogIn h1, .App .LogIn p {
    margin-top: 25px;
  }
  .App .LogIn p {
    margin-top: 0;
  }
  .App .LogIn label input {
    width: 100%;
  }
  .App .LogIn .Email_label {
    margin-top: 60px;
  }
  .App .LogIn .password_label {
    margin-top: 30px;
  }
  .App .LogIn button {
    margin-top: 100px;
  }
}
/*# sourceMappingURL=Style.css.map */